<button type="button" class="btn-sm btn-success btn-sm" data-toggle="modal" data-target="#largeShoes">
    Current Avaialble Rooms
</button>
<!-- The modal -->
<div class="modal fade" id="largeShoes" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.84);">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title" id="modalLabelLarge"> Available Roooms</p>
            </div>
            <div class="modal-body" style="height:400px;overflow-y:scroll;background-color: rgba(255, 0, 255, 0.00);">
                <div class="row">
                    <div class="col-12">
                        <!-- /.card-header -->
                        <div class="card-body" style="background-color: rgba(255, 255, 255, 0.84);">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr style="color:white">
                                        <th style="background-color:midnightblue">Room Name</th>
                                        <th style="background-color:forestgreen">Room Capacity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                        <tr>
                                            <td>444</td>
                                            <td style="background-color:whitesmoke">444 </td>
                                        </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
               