
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
</head>

<body>
    <br />
    <br />    <br />
              <div class="row justify-content-center">
                  <div class="col-md-7" style="border-radius: 14px;">
                      <!-- Widget: user widget style 2 -->
                      <div class="card card-widget widget-user-2" style="border-radius: 14px;">
                          <!-- Add the bg color to the header using any of the bg-* classes -->
                          <div class="widget-user-header" style="background-color: #001F3F ">
                              <div class="widget-user-image">
                                  <img src="~/Images/logo77.png" height="80" alt="User Avatar">
                              </div>
                              <!-- /.widget-user-image -->
                              <h5 class="widget-user-username" style="color:white">System Support</h5>


                          </div>
                          <div class="card-body text-left">

                              <div class="col-7">

                                  <p class="text-muted text-sm"><b>Issues: </b> User Accounts / Random Inquires / Systems Guides </p>
                                  <ul class="ml-4 mb-0 fa-ul text-muted">
                                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address:  </li>

                                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone : +(254) 727 422 197</li>
                                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span> Email : info@speculate.co.ke.com</li>
                                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-link"></i></span> Webiste :www.speculate.co.ke.com</li>
                                  </ul>
                              </div>
                              <div class="spinner-border spinner-border-sm" role="status">
                                  <span class="sr-only">Loading...</span>
                              </div>
                              <div class="spinner-grow spinner-grow-sm" role="status">
                                  <span class="sr-only">Loading...</span>
                              </div>
                              <a href="https://api.whatsapp.com/send?phone=+254727422197&text=Hello%20Sharpolex%20Support%20team%20am%20in%20need%20of%20your%20assistance
                                                                     " class="btn btn-sm  btn-success btn-lg active" role="button" aria-pressed="true">WhastApp</a>
                          </div>
                      </div>

                  </div>
              </div>
</body>
</html>