<div class="card" style="background-color: #ffffffd9">
    <div class="col d-flex justify-content-center">
        <div class="col-xl-12">
            <div class="card mb- mb-xl-0" style="border-radius: 14px;">
                <div class="card-header" style="background-color: #001F3F; color: white "><i class="fa fa-spinner"></i> Operations Summary </div>
                <div class="card-body text-left">


                    <div class="container-fluid">
                        <h6 class="mb-2"><i class="fa fa-paper-plane"></i> Tickets status</h6>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-success"><i class="far fa-check-circle"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Invoiced</span>
                                        <span class="info-box-number">1,410 tickets</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-warning"><i class="fa fa-check-double"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Approved</span>
                                        <span class="info-box-number">1,410 tickets</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-gradient-gray"><i class="far fa-pause-circle"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Pending</span>
                                        <span class="info-box-number">1,410 tickets</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-gradient-danger"><i class="fa fa-trash"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Deleted</span>
                                        <span class="info-box-number">1,410 tickets</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                        </div>
                    </div>
                    <hr />
                    <h6 class="mb-2"><i class="fa fa-spinner"></i> Tickets Figures</h6>
                    <div class="row">
                        <div class="col-md-3 col-sm-5 col-12">
                            <div class="info-box bg-info">
                                <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Total Gross Profit</span>
                                    <span class="info-box-number">41,410</span>

                                </div>

                            </div>
                            <!-- /.info-box -->
                        </div>
                        <div class="col-md-3 col-sm-5 col-12">
                            <div class="info-box bg-primary">
                                <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Total Invoice Amount</span>
                                    <span class="info-box-number">41,410</span>

                                </div>

                            </div>
                            <!-- /.info-box -->
                        </div>
                        <div class="col-md-3 col-sm-5 col-12">
                            <div class="info-box bg-primary">
                                <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Total Net Amount</span>
                                    <span class="info-box-number">41,410</span>

                                </div>

                            </div>
                            <!-- /.info-box -->
                        </div>
                        <div class="col-md-3 col-sm-5 col-12">
                            <div class="info-box bg-primary">
                                <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Total Incentive</span>
                                    <span class="info-box-number">41,410</span>

                                </div>

                            </div>
                            <!-- /.info-box -->
                        </div>
                    </div>


                    <hr />
                    <h6 class="mb-2"><i class="fa fa-users"></i> Employees Monitor</h6>
                    <div class="row">
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Task</th>
                                        <th>Progress</th>
                                        <th style="width: 40px">Label</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>Update software</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-danger">55%</span></td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>Clean database</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-warning" style="width: 70%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-warning">70%</span></td>
                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td>Cron job running</td>
                                        <td>
                                            <div class="progress progress-xs progress-striped active">
                                                <div class="progress-bar bg-primary" style="width: 30%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-primary">30%</span></td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <td>Fix and squish bugs</td>
                                        <td>
                                            <div class="progress progress-xs progress-striped active">
                                                <div class="progress-bar bg-success" style="width: 90%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-success">90%</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>




                        <div class="card-footer p-0" style="background-color:whitesmoke">
                        </div>

                    </div>
                </div>
        </div>
