@using PagedList
@using PagedList.Mvc;
@model IPagedList<IShop.Core.Pcategory>

@{
    ViewBag.Title = "Garage Services";
 }


<style type="text/css">
    .loading {
        font-size: 10pt;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>

<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    table {
        border-collapse: collapse;
        overflow: visible;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 20%;
        border-color: white;
    }
</style>

<div class="card " style="background-color: rgb(255, 255, 255, 0.61);">


    <div class="card-header col-md-8 col-sm-10 col-10 col d-flex justify-content-center" style="background-color: #0656A5; color: white; border-radius: 14px ">
        <h3 class="card-title" style="color:white;text-align:center">
            <i class="fa fa-calendar-day"></i>
            Project Categories
        </h3>
    </div>

    @if (TempData["Msg"] != null)
    {<div class="row">
            <div class="alert alert-warning col-md-6 col-md-offset-4" align="center">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Msg"]
            </div>
        </div>
    }

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>


    <div class="card-body">
        <div style="text-align:right">
            @Html.ActionLink("Add Categories", "Create", "Pcategories", null, new { @class = "btn btn-primary btn" })
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-6" style="border-radius: 27px ">
                    <!-- small box -->
                    <div class="small-box " style="border-radius: 27px; background-color: #0656A5 ">
                        <div class="inner" style="border-radius: 27px ">

                            <h4 style="color:white"><span class="info-box-text text-wrap"><medium><i class="fa fa-book-reader"></i>  .@item.Category</medium></span></h4>
                            <div class="dropdown-divider"></div>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-10x fa-book-reader"></i>
                        </div>
                        <div class="btn-group dropdown dropright">
                            <button type="button" class="btn-xs btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-paper-plane"></i>  . Action
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                <a href="@Url.Action("Delete", "Service", new { id = item.Id })" class="dropdown-item">
                                    <i class="fa fa-trash text-danger"></i> Drop Service
                                </a>

                            </div>
                        </div>
                    </div>
                </div>


            }
        </div>
        <style>
            .ul.pagination {
                display: inline-block;
                padding: 1;
                margin: 1;
                border-radius: 0.5rem;
            }

            ul.pagination li {
                display: inline;
            }

                ul.pagination li a {
                    color: black;
                    float: left;
                    padding: 8px 16px;
                    text-decoration: none;
                    transition: background-color;
                    background-color: #ddd;
                    border-color: white;
                    border-radius: 0.5rem;
                }

                    ul.pagination li a.active {
                        background-color: dodgerblue;
                        color: white;
                    }

                    ul.pagination li a:hover:not(.active) {
                        background-color: dodgerblue;
                        border-radius: 0.5rem;
                    }
        </style>
        <div id="container" style="text-align:left">

            <div class="pagination" style="text-align:left">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["SearchBy"], search = Request.QueryString["Search"] })
              , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })
            </div>
        </div>


    </div>







</div>


