

@{
    ViewBag.Title = "Tracks";
}


<div class="card">

    <div class="card-body" style="background-color: white;border-radius: 24px;">
        <h4 style="color:purple"><i class="fa fa-bookmark"></i> Select Track</h4>
        <div class="dropdown-divider"></div>

        <div class="row">
            @foreach (var item in ViewBag.Workplans)
            {



                <div class="col-lg-3 col-6" style="border-radius: 20px">
                    <!-- small box -->
                    <div class="small-box bg-secondary" style="border-radius: 20px">
                        <div class="inner">
                            <h4>@item.Track</h4>

                            <p>Click below to view Track Details</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-table"></i>
                        </div>
                        <a href="@Url.Action("Work_plan_Details", "Workplan", new { Track = item.Track })" class="small-box-footer" style="border-radius: 20px;background-color:#545353;color:white"><b style="color: white">View Track</b> <i class="fas fa-arrow-circle-right text-white"></i></a>
                    </div>
                </div>

            }
        </div>
    </div>
