@model IShop.Core.Timesheet

@{
    ViewBag.Title = "Details";
}

<style>
    .curved-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

        .curved-table th,
        .curved-table td {
            padding: 10px;
            border: 1px solid whitesmoke;
        }
</style>


    <div class="card mb- mb-xl-0" style="border-radius: 24px;">
        <div class="card-header" style="background-color: #0656A5; color: white; border-radius: 14px;text-align:center ">
            <i class="fa fa-bookmark"></i> Timesheet Details
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover   table-condensed table-striped table-hover sortable curved-table">
               

                <thead style="font-family:Calibri">
                    <tr style="color:white">
                        <th style="background-color: #0656A5; "> Project</th>
                        <th style="background-color: #0656A5; "> DayOfWeek</th>
                        <th style="background-color: #0656A5; "> Comments</th>
                       
                    </tr>
                </thead>

                <tbody style="font-family:Calibri">
                    @foreach (var item2 in ViewBag.Activities)
                    {


                        <tr data-widget="expandable-table" aria-expanded="false">


                            <td style="background-color: white; width: 30% ">
                                <i class="fa fa-suitcase text-primary"></i> @item2.Project_Name
                                <div class="dropdown-divider"></div>
                                <h5>
                                    <span class="badge badge-primary"><medium><i class="fa fa-bookmark text-white"></i> PHASE : @item2.Name </medium></span>
                                    ||
                                    <span class="badge badge-success"><medium><i class="fa fa-user-clock text-white"></i> Hours : @item2.Hours </medium></span>
                                </h5>
                            </td>
                            <td style="background-color: white; width: 15% ">

                                @if (item2.Day == "Sun")
                                {
                                    <p style="color:navy"><i class="fa fa-user-clock text-navy"></i> Sunday</p>
                                }
                                else if (item2.Day == "Mon")
                                {
                                    <p style="color:navy"><i class="fa fa-user-clock text-navy"></i> Monday</p>

                                }
                                else if (item2.Day == "Tue")
                                {
                                    <p style="color:navy"><i class="fa fa-user-clock text-navy"></i> Tuesday</p>

                                }
                                else if (item2.Day == "Wen")
                                {
                                    <p style="color:navy"><i class="fa fa-user-clock text-navy"></i> Wednesday</p>

                                }
                                else if (item2.Day == "Thur")
                                {
                                    <p style="color:navy"><i class="fa fa-user-clock text-navy"></i> Thursday</p>

                                }
                                else if (item2.Day == "Fri")
                                {
                                <p style="color:navy"><i class="fa fa-user-clock text-navy"></i> Friday</p>
                                    
                                }
                                else
                                {
                            <p style="color:navy"><i class="fa fa-user-clock text-navy"></i> Saturday</p>
                                }

                            </td>

                            <td style="background-color: whitesmoke; width: 55% ">
                                <p class="limited-lines"><small>@item2.Comments</small></p>
                            </td>
                           
                        </tr>

                    }

                </tbody>

            </table>
        </div>
</div>


                        
                        