@model IShop.Core.TT
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
    $(function () {
        $("#datepicker2").datepicker();
    });
</script>
<div class="card" style="background-color: #ffffffd9">
    <div class="col d-flex justify-content-center">
        <div class="col-xl-12">
            <div class="card mb- mb-xl-0" style="border-radius: 14px;">
                <div class="card-header" style="background-color: #001F3F; color: white "><i class="fa fa-chart-line"></i> Dashboard  </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            @using (Html.BeginForm("Timesheet", "Timesheet", FormMethod.Post))
                            {<script type="text/javascript">
                                        $(function () {
                                            $("#Employees").chosen();
                                           

                                        });

                                    </script>
                                
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label>Staff</label>
                                        @Html.DropDownList("Employees", ViewBag.Employees as SelectList, "-- Select Employe --",
                                               new { @class = "form-control form-control-sm", data_live_search = "true" })
                                     </div>


                                    <div class="form-group col-md-2">
                                        <label> From Date</label>
                                        @{
                                            DateTime firstDayOfMonth = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1);
                                        }

                                        <input type="date" id="From_Date" name="From_Date" class="form-control form-control-sm form-rounded" Value="firstDayOfMonth" />
                                       
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label> To Date</label>
                                        <input type="date" id="End_Date" name="End_Date" class="form-control form-control-sm form-rounded" Value="firstDayOfMonth" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label> Filter</label>
                                        <input type="submit" value="search" class="btn btn btn-outline-secondary" style="color:black" />
                                    </div>
                                </div>

                            }
                        </div>
                    </div>

                    <div class="container-fluid">

                        <div class="row">
                            @foreach (var item in ViewBag.l5)
                            {
                                <div class="col-md-5" style="border-radius: 24px;">
                                    <!-- Widget: user widget style 2 -->
                                    <div class="card card-widget widget-user-2" style="border-radius: 24px;">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->

                                        <div class="card-body text-left">

                                            <div class="divider" style="color:forestgreen"></div>
                                            <medium>
                                                <i class="fa fa-user-shield"></i>
                                                <b>Employee</b> :@item.employee
                                            </medium>
                                            <div class="dropdown-divider"></div>
                                            <medium style="font-family:Calibri">
                                                <i class="fa fa-spinner text-success"></i> <b>Project</b> :@item.Project
                                            </medium>

                                            <div class="dropdown-divider"></div>
                                            <medium style="font-family:Calibri">
                                                <i class="fa fa-calendar-check text-success"></i> <b>Posted on</b> :@item.CreatedOn
                                            </medium>

                                            <div class="dropdown-divider"></div>

                                            <button  href="javascript:void(0);" class="btn btn-sm btn-primary btn anchorDetail" data-id="@item.id">
                                                <div class="spinner-border spinner-border-sm" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                                <div class="spinner-grow spinner-grow-sm" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div> View Details
                                            </button>






                                        </div>

                                    </div>
                                    <!-- /.widget-user -->
                                </div>
                            

                           
                             
                                <div id='Details' class='modal'>
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div id='myModalContent'></div>
                                        </div>
                                    </div>
                                </div>





                                <script src="~/Scripts/jquery-1.10.2.min.js"></script>
                                <script src="~/Scripts/bootstrap.js"></script>
                                <script src="~/Scripts/bootstrap.min.js"></script>
                                <script>
                                    var TeamDetailPostBackURL = '/Timesheet/Details';
                                    $(function () {
                                        $(".anchorDetail").click(function () {
                                            var $buttonClicked = $(this);
                                            var id = $buttonClicked.attr('data-id');
                                            $.ajax({
                                                type: "GET",
                                                url: TeamDetailPostBackURL,
                                                contentType: "application/json; charset=utf-8",
                                                data: { "Id": id },
                                                datatype: "json",
                                                success: function (data) {
                                                    $('#myModalContent').html(data);
                                                    $('#Details').modal('show').fade(900);
                                                },
                                                error: function () {
                                                    alert("Dynamic content load failed.");
                                                }
                                            });
                                        });
                                    });
                                </script>





                            }
                           </div>
                        </div>

                        

                    </div>

                    <hr />



                    <div class="card-footer p-0" style="background-color:whitesmoke">
                    </div>

                </div>
            </div>
        </div>

    </div>
