<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Ishop" connectionString="Data Source=.;Initial Catalog=HR; User ID=sa; Password=1234;Integrated security=true" providerName="System.Data.SqlClient" />
    <add name="Files_list" connectionString="metadata=res://*/Models.Files_.csdl|res://*/Models.Files_.ssdl|res://*/Models.Files_.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Alll" connectionString="metadata=res://*/Models.A.csdl|res://*/Models.A.ssdl|res://*/Models.A.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ss" connectionString="metadata=res://*/Models.S.csdl|res://*/Models.S.ssdl|res://*/Models.S.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Facility_u" connectionString="metadata=res://*/Models.Fac.csdl|res://*/Models.Fac.ssdl|res://*/Models.Fac.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Staffing_" connectionString="metadata=res://*/Models.Ss.csdl|res://*/Models.Ss.ssdl|res://*/Models.Ss.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Portal;integrated security=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Files_list_" connectionString="metadata=res://*/Models.Files_.csdl|res://*/Models.Files_.ssdl|res://*/Models.Files_.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ZO" connectionString="metadata=res://*/Models.Z.csdl|res://*/Models.Z.ssdl|res://*/Models.Z.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="All_users" connectionString="metadata=res://*/Models.All_.csdl|res://*/Models.All_.ssdl|res://*/Models.All_.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Office_Details_table" connectionString="metadata=res://*/Models.table_Office.csdl|res://*/Models.table_Office.ssdl|res://*/Models.table_Office.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Officetable_" connectionString="metadata=res://*/Models.tableOffice.csdl|res://*/Models.tableOffice.ssdl|res://*/Models.tableOffice.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Reports_" connectionString="metadata=res://*/Models.R.csdl|res://*/Models.R.ssdl|res://*/Models.R.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Configs_table" connectionString="metadata=res://*/Models.Config_.csdl|res://*/Models.Config_.ssdl|res://*/Models.Config_.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="sp_all" connectionString="metadata=res://*/Models.sps.csdl|res://*/Models.sps.ssdl|res://*/Models.sps.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HREntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UL" connectionString="metadata=res://*/Models.Userslist.csdl|res://*/Models.Userslist.ssdl|res://*/Models.Userslist.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="sp_timesheet" connectionString="metadata=res://*/Models.sp_timesheets.csdl|res://*/Models.sp_timesheets.ssdl|res://*/Models.sp_timesheets.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="timesheet" connectionString="metadata=res://*/Models.sp_timesheet.csdl|res://*/Models.sp_timesheet.ssdl|res://*/Models.sp_timesheet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="lleave_llog" connectionString="metadata=res://*/Models.lleave.csdl|res://*/Models.lleave.ssdl|res://*/Models.lleave.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Airline_tbl" connectionString="metadata=res://*/Models.AA.csdl|res://*/Models.AA.ssdl|res://*/Models.AA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ticket_datasetlist" connectionString="metadata=res://*/Models.ticket_dataset.csdl|res://*/Models.ticket_dataset.ssdl|res://*/Models.ticket_dataset.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="tikos_logs" connectionString="metadata=res://*/Models.tiko_logs.csdl|res://*/Models.tiko_logs.ssdl|res://*/Models.tiko_logs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="leaves_emp_config_table" connectionString="metadata=res://*/Models.leaves_emp_config.csdl|res://*/Models.leaves_emp_config.ssdl|res://*/Models.leaves_emp_config.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="leaves_t" connectionString="metadata=res://*/Models.leave_track.csdl|res://*/Models.leave_track.ssdl|res://*/Models.leave_track.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="sp_dashboards" connectionString="metadata=res://*/Models.sp_dashboard.csdl|res://*/Models.sp_dashboard.ssdl|res://*/Models.sp_dashboard.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR;integrated security=True;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="Email" value="vmsmanage@gmail.com" />
    <add key="Businesssmail" value="vmsmanage@gmail.com" />
    <add key="Password" value="kdcywqullgripgil" />
    <add key="FileSize" value="2097152" />
    <add key="Distance_Radius" value="100" />
    <add key="Office_location" value="Speculate Techs" />
    <add key="latitude" value="-1.2812288" />
    <add key="longitude" value="36.7362048" />
    <add key="Total_leaves_per_year" value="60" />
    <add key="Leave_pre_days" value="3" />
    <add key="Advance_pay_limit" value="50" />
    <add key="FileType" value=".txt,.xlsx,.xls,.docx,.doc,.ppt,.pptx,.pdf" />
    <add key="SSRSReportsUrl" value="http://t470s/ReportServer" />
    <add key="MvcReportViewer.AspxViewer" value="~/MvcReportViewer.aspx" />
    <add key="MvcReportViewer.AspxViewerJavaScript" value="~/Scripts/MvcReportViewer.js" />
    <add key="MvcReportViewer.ErrorPage" value="~/MvcReportViewerErrorPage.html" />
    <add key="MvcReportViewer.ShowErrorPage" value="True" />
    <add key="MvcReportViewer.ReportServerUrl" value="http://localhost/ReportServer_SQLEXPRESS" />
    <add key="MvcReportViewer.Username" value="" />
    <add key="MvcReportViewer.Password" value="" />
    <add key="MvcReportViewer.EncryptParameters" value="False" />
    <add key="MvcReportViewer.LocalDataSourceProvider" value="MvcReportViewer.SessionLocalDataSourceProvider, MvcReportViewer" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="portal@gifthealthcareservices.com">
        <network host="smtp.gmail.com" password="rppzjagbuleysctj" port="587" userName="vmsmanage@gmail.com" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime maxRequestLength="60000" />
    <authentication mode="Forms">
      <forms defaultUrl="/Home/Index" loginUrl="/Account/login" slidingExpiration="true" timeout="20"></forms>
    </authentication>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <pages>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpHandlers>
      <!-- Required by Microsoft ReportViewer control -->
      <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=19.2460.0.44, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <profile defaultProvider="DefaultProfileProvider">
      <providers></providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers></providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers></providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <!-- Required by Microsoft ReportViewer control -->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=19.2460.0.44, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      <remove name="ReportViewerWebControlHandler" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>