
@{
    ViewBag.Title = "Approve_Admin";
}

<div class="card " style="background-color: rgb(255, 255, 255, 0.78);">


    <div class="card-header" style="background-color: #001F3F">
        <h3 class="card-title" style="color:white">
            <i class="fa fa-list"></i>
            Admin Approval
        </h3>



    </div>
    <br /> <br />
           <div class="col d-flex justify-content-center">
               <div class="col-md-4 col-sm-6 col-12">
                   <div class="card">
                       <div class="card-body">
                           <div class="spinner-border spinner-border-sm" role="status">
                               <span class="sr-only">Loading...</span>
                           </div>
                           <div class="spinner-grow spinner-grow-sm" role="status">
                               <span class="sr-only">Loading...</span>
                           </div>  Section in development

                          
                       </div>
                   </div>
               </div>
           </div>