

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page" style="background-image: url('../../Images/login.png');
        background-repeat: no-repeat;
        background-size: cover;">






    <style>
        body {
            background-image: url(../../images/33.jpg);
            background-size: cover;
            font-family: Calibri
        }

        .table-hover > tbody > tr:hover {
            background-color: #D2D2D2;
        }

        .form-rounded2 {
            border-radius: 0.5rem;
            width: 40%;
            border-color: dodgerblue;
        }

        .bwe {
            font-family: Quicksand;
        }
    </style>



    <br />  <br />
    <br />
    <div class="col d-flex justify-content-center">
        <div class="col-md-5" style="border-radius: 14px;">
            <!-- Widget: user widget style 2 -->
            <div class="card card-widget widget-user-2" style="border-radius: 14px;">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header" style="background-color: black ">
                    <div class="widget-user-image">
                        <img src="~/Images/logo7.png" height="150" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h5 class="widget-user-username" style="color:white"></h5>


                </div>
                <div class="card-body text-left">



                    <h3 class="text-danger"> Error.</h3>
                    <h5 class="text-danger">An error occurred while processing your request.</h5>
                    <div class="spinner-border spinner-border-sm text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow spinner-grow-sm text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <hr />
                    <div class="divider"></div>

                    @Html.ActionLink("Click Here to Reload", "Index", "Home", null, new { @class = "btn btn  btn-primary btn" })






                </div>
            </div>
        </div>


    </div>
</body>
</html>