@{Layout = null;}

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page" style="background-image: url('../../Images/login.png');
        background-repeat: no-repeat;
        background-size: cover;">




    <style type="text/css">
        .loading {
            font-size: 10pt;
            width: 200px;
            height: 100px;
            display: none;
            position: fixed;
            z-index: 999;
        }
    </style>

    <div class="loading" align="center">
        <img src="~/Images/Andest.png" height="200" />

    </div>
    <script type="text/javascript">
        var modal, loading;
        function ShowProgress() {
            modal = document.createElement("DIV");
            modal.className = "modal";
            document.body.appendChild(modal);
            loading = document.getElementsByClassName("loading")[0];
            loading.style.display = "block";
            var top = Math.max(window.innerHeight / 2 - loading.offsetHeight / 2, 0);
            var left = Math.max(window.innerWidth / 2 - loading.offsetWidth / 2, 0);
            loading.style.top = top + "px";
            loading.style.left = left + "px";
        };
        ShowProgress();
    </script>
    <!-- Keep the Page Content Here.-->
    <script type="text/javascript">
        window.onload = function () {
            setTimeout(function () {
                document.body.removeChild(modal);
                loading.style.display = "none";
            }, 800); //Delay just used for example and must be set to 0.
        };
    </script>

    <!-- Main content -->

    <style>
        body {
            background-image: url(../../images/33.jpg);
            background-size: cover;
            font-family: Calibri
        }

        .table-hover > tbody > tr:hover {
            background-color: #D2D2D2;
        }

        .form-rounded2 {
            border-radius: 0.5rem;
            width: 40%;
            border-color: dodgerblue;
        }

        .bwe {
            font-family: Quicksand;
        }
    </style>



    <br />  <br />
    <br />
    <div class="col d-flex justify-content-center">
        <div class="col-md-5" style="border-radius: 14px;">
            <!-- Widget: user widget style 2 -->
            <div class="card card-widget widget-user-2" style="border-radius: 14px;">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header" style="background-color: #1976D2 ">
                    <div class="widget-user-image">
                        <img src="~/Images/Andest2.png" height="80" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h5 class="widget-user-username" style="color:white"></h5>


                </div>
                <div class="card-body text-left">



                    <h3 class="text-danger">Error.</h3>
                    <h5 class="text-danger">An error occurred while processing your request.</h5>

                    <hr />
                    <div class="divider"></div>
                    @Html.ActionLink("Click Here to Reload", "Index", "Home", null, new { @class = "btn btn  btn-primary btn" })






                </div>
            </div>
        </div>


    </div>
</body>
</html>