
<style>
    body {
        background-image: url(../../images/33.jpg);
        background-size: cover;
        font-family: Calibri
    }

    .table-hover > tbody > tr:hover {
        background-color: #D2D2D2;
    }

    .form-rounded2 {
        border-radius: 0.5rem;
        width: 40%;
        border-color: dodgerblue;
    }

    .bwe {
        font-family: Quicksand;
    }
</style>



<br />
<br />
<br />
<div class="col d-flex justify-content-center">
    <div class="col-md-7 col-sm-12 col-12">
        <div class="card mb- mb-xl-0" style="border-radius: 24px;">
            <div class="card-header" style="background-color: #0656A5; color: white; border-radius: 14px ">
                <i class="fa fa-bookmark"></i> Development Ahead
            </div>
            <div class="card-body" style="background-color: white; border-radius: 24px;">
                <div class="card-body">

                    <table>
                        <thead>
                            <tr>

                                <td>

                                    <h5 class="text-danger">In Development.</h5>
                                    <p>
                                        <i class="fa fa-question-circle text-success"></i> Visual Charts <br />

                                    <p>We are excited to announce that we are currently working on developing an innovative module for visual charts. Stay tuned as we bring you powerful tools to enhance your data visualization experience.</p>
                                    <b>Thanks for your patience!</b>
                                    </p>


                                    
                                        </div>
                                    </div>


                                </td>
                                <td>
                                    <img src="~/Images/sad.gif" height="150" style="margin-right: 20px;" />
                                </td>
                            </tr>
                        </thead>
                    </table>



                    <div class="spinner-border spinner-border-sm text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow spinner-grow-sm text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <hr />
                    <div class="divider"></div>

                    <p style="color:darkslategrey;font-size:smaller">     Copyright © @DateTime.Now.Year Planning Systems. <br /> All rights reserved  </p>


                </div>
            </div>


        </div>


    </div>
    </body>
    </html>
