

@{Layout = null;}
@{
    ViewBag.Title = "Confirm Email";
}

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
        <!-- icheck bootstrap -->
        <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    </head>
 
    <body style="background-image: url('../../Images/A2.jpg');
        background-repeat: no-repeat;
        background-size: cover;;">

        <div class="container">
            <div class="row align-items-center vh-100">
                <div class="col-10 mx-auto">
                    <div class="card shadow border">
                        <div class="card-body d-flex flex-column align-items-center">
                            <div class="card-header text-muted border-bottom-0">


                                <img src="~/Images/Andest.png" height="50" />
                            </div>

                            <h2>@ViewBag.Title.</h2>
                            <div>
                                <p>
                                    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                                </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
</body>
</html>
