

@{Layout = null;}
@{
    ViewBag.Title = "reset";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/summernote/summernote-bs4.min.css">
</head>
<body class="hold-transition login-page" style="background-image: url('../../Images/neww.jpg');
        background-repeat: no-repeat;
        background-size: cover;">
    <br />


    <style type="text/css">
        .loading {
            font-size: 10pt;
            width: 200px;
            height: 100px;
            display: none;
            position: fixed;
            z-index: 999;
        }

        .form-rounded {
            border-radius: 1rem;
        }
    </style>


   
      

                <div class="container">
                    <div class="row align-items-center vh-100">
                        <div class="col-10 mx-auto">
                            <div class="card shadow border" style="border-radius: 24px;">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <div class="card-header text-muted border-bottom-0">


                                        <img src="~/Images/logo77.png" height="100" />
                                    </div>
                                    <div>
                                        <p>
                                            Your password has been reset.<br /> Proceed to login  @Html.ActionLink("Login back", "login", "Account", null, new { @class = "btn btn-success btn" })
                                        </p>
                                       
                                    </div>

                                   
                                    <small style="color:green"><b>© 2019- @DateTime.Now.Year</b></small>
                                </div>
                            </div>
                        </div>
                    </div>
</body>
</html>