﻿@using PagedList
@using PagedList.Mvc;
@model IPagedList<Ishop.Models.Sectorslist>

@{
    ViewBag.Title = "Index";
}


<div class="col-md-12 col-sm-12 col-12">
    <div class="card mb- mb-xl-0" style="border-radius: 24px;">
        <div class="card-header" style="background-color: darkcyan; color: white; border-radius: 14px ">
            <i class="fa fa-user-circle"></i> Profile Setup
        </div>
        
            <div class="card-body" style="background-color: #ffffffc1;border-radius: 24px;">
                <div style="text-align:right">
                    @Html.ActionLink("Add Sector", "Create", "Sectors", null, new { @class = "btn btn-info btn" })
                </div>

                <div class="row">
                    @foreach (var item in Model)
                    {

                        <div class="col-md-3 col-sm-6 col-6">
                            <div class="info-box" style="border-radius: 16px; background-color: #088189dc">


                                <div class="info-box-content" style="color:white">
                                    <span class="info-box-text text-wrap"><medium><i class="fa fa-user-circle"></i>  .@item.Sector</medium></span>
                                    <div class="col-md-3 col-sm-3 col-3">
                                        <span class="badge rounded-pill bg-primary">Sector </span>


                                        <div class="btn-group dropdown dropright">
                                            <button type="button" class="btn-xs btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-paper-plane"></i>  . Action
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                                <a href="@Url.Action("Delete", "landloards", new { id = item.id })" class="dropdown-item">
                                                    <i class="fa fa-trash text-danger"></i> Trash Data
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div><!-- /.info-box -->
                        </div>

                    }
                </div>
                <style>
                    .ul.pagination {
                        display: inline-block;
                        padding: 1;
                        margin: 1;
                        border-radius: 0.5rem;
                    }

                    ul.pagination li {
                        display: inline;
                    }

                        ul.pagination li a {
                            color: black;
                            float: left;
                            padding: 8px 16px;
                            text-decoration: none;
                            transition: background-color;
                            background-color: #ddd;
                            border-color: white;
                            border-radius: 0.5rem;
                        }

                            ul.pagination li a.active {
                                background-color: dodgerblue;
                                color: white;
                            }

                            ul.pagination li a:hover:not(.active) {
                                background-color: dodgerblue;
                                border-radius: 0.5rem;
                            }
                </style>
                <div id="container" style="text-align:left">

                    <div class="pagination" style="text-align:left">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["SearchBy"], search = Request.QueryString["Search"] })
                      , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })
                    </div>
                </div>


            </div>




